@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>World Data Index</h1>
            <p>Find information on countries and cities around the globe!</p>
        </div>
        <a href="/all_countries" type="button" class="btn btn-primary">View All Countries</a>
        <a href="/form" type="button" class="btn btn-primary">Search Countries</a>
    </div>
</div>